<h4>{{employee.firstName}} {{employee.lastName}}</h4>
<hr>
<div class="clr-row">
  <div class="clr-col-4">
    <span>Full Name</span>
  </div>
  <div class="clr-col-8">
    <span>{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</span>
  </div>
  <div class="clr-col-4">
    Gender
  </div>
  <div class="clr-col-8">
    <div class="radio-inline">
      <input type="radio" name="genderRadio" id="genderRadioM" [checked]="employee.gender === 'M'">
      <label for="genderRadioM">Male</label>
    </div>
    <div class="radio-inline">
      <input type="radio" name="genderRadio" id="genderRadioF" [checked]="employee.gender === 'F'">
      <label for="genderRadioF">Female</label>
    </div>
  </div>
  <div class="clr-col-4">
    <span>Phone Number</span>
  </div>
  <div class="clr-col-8">
    <span>{{employee.phoneNumber}}</span>
  </div>
</div>