<div class="main-container">
  <div class="content-container">
    <nav class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group collapsible">
          <input id="isEmployeeOpen" type="checkbox">
          <label for="isEmployeeOpen">All Employees</label>
          <ul class="nav-list">
            <li *ngFor='let employee of employees' (click)="onSelect(employee)">
              <a class="nav-link" [class.active]="employee === selectedEmployee" routerLink="/employees/{{employee.employeeId}}">
                <span class="badge">{{employee.employeeId}}</span> {{employee.firstName}} {{employee.lastName}}</a>
            </li>
          </ul>
        </section>
      </section>
    </nav>
    <div class="content-area">
      <app-employee-detail [employee]="selectedEmployee"></app-employee-detail>
    </div>
  </div>
</div>