<div class="row">
  <div class="card">
    <div class="card-header">
      Employees
    </div>
    <div class="card-text">
      <ul class="list-group list-group-flush" style="list-style-type: none">
        <li *ngFor='let employee of employees' (click)="onSelect(employee)">
          <span><span class="badge">{{employee.employeeId}}</span> {{employee.firstName}} {{employee.lastName}}</span>
        </li>
      </ul>
      <app-employee-detail [employee]="selectedEmployee"></app-employee-detail>
    </div>
  </div>
</div>